<footer class="footer items-center p-4 bg-base-100 text-base-content mt-auto">
  <div class="items-center grid-flow-col">
    <p class="text-center text-xs leading-5 text-gray-500">&copy; <%= Date.today.year %> <%= Rails.configuration.application_name %>. All rights reserved.</p>
    <%= link_to "Terms", terms_path, class: "text-base-content hover:text-neutral-500" %>
    <%= link_to "Privacy", privacy_path, class: "text-base-content hover:text-neutral-500" %>
  </div> 
</footer>