<li>
  <%= link_to url, class: "text-base-content-content hover:text-base-content hover:bg-primary group flex gap-x-3 rounded-md p-2 text-sm leading-6 font-semibold" do %>
    <%= title %>
  <% end %>
</li>
